<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <h1 style="text-align:center; color: azure;">Siam Team:</h1>
    <div class="container" >
        <div class="row">
            <h3>Board:</h3>
            <ul>
                <% arr.forEach((a)=>{%>
                    <% if (a.board == true){%>
                        <li><a href="/profile/<%=a._id%>"><%=a.username%></a></li>
                    <%}%>
                <%})%>
            </ul>
            <h3>Core:</h3>
            <ul>
                <% arr.forEach((a)=>{%>
                    <% if (a.board == false){%>
                        <li><a href="/profile/<%=a._id%>"><%=a.username%></a></li>
                    <%}%>
                <%})%>
            </ul>
        </div>
    </div>
</div>
<br>
<%- include("partials/footer") %>
