<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <h1 style="text-align:center; color: azure;">Siam Team:</h1>
    <div class="container" >
        <h3>Board:</h3>
        <div class="row">
            
                <% arr.forEach((a)=>{%>
                    <% if (a.board == true){%>
                        <div class="col-sm-3" style="margin: 2px 5px"> 
                        <li><a style="color: azure;" href="/profile/<%=a._id%>"><%=a.username%></a></li>
                    </div>
                        <%}%>
                <%})%>
        </div><br>
        <h3>Core:</h3>
        <div class="row">
                <% arr.forEach((a)=>{%>
                    <% if (a.board == false){%>
                        <div class="col-sm-3" style="margin: 2px 5px">
                        <li><a style="color: azure;"  href="/profile/<%=a._id%>"><%=a.username%></a></li>
                    </div>
                    <%}%>
                <%})%>
        </div>
        
    </div>
</div>
<br>
<%- include("partials/footer") %>
