<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <h1 style="text-align:center; color: azure;">Enter User Details</h1>
    <div class="container" >
        <div class="row">
            <div style="width: 30%; margin: 25px auto;">
            <form action="/profile/edit/<%=Det._id%>?_method=patch" method="POST">
                <hr>
                <div class="form-group">
                    <label>Registration Number:<input class="form-control" type="text" name="RegNo" required value="<%=Det.RegNo%>"></label>
                </div>
                <div class="form-group">
                    <label>Date Of Birth:<input class="form-control" type="date" name="DOB" required value="<%=Det.DOB%>"></label>
                </div>
                <div class="form-group">
                    <label>Board(Yes/No)<input class="form-control" type="checkbox" name="board"  value="1"></label>
                </div>
                <div class="form-group">
                    <label>Position<input class="form-control" type="text" name="post" required value="<%=Det.post%>"></label>
                </div>
                <div class="form-group">
                    <label>Email<input class="form-control" type="email" name="email" required value="<%=Det.email%>"></label>
                </div>
                <div class="form-group">
                    <label>Contact No.<input class="form-control" type="tel" name="contact" value="<%=Det.contact%>"></label>
                </div>
                <div class="form-group">
                    <label>Insta Profile Link:<input class="form-control" type="text" name="insta" value="<%=Det.insta%>"></label>
                </div>
                <div class="form-group">
                    <label>Linked In Profile Link:<input class="form-control" type="text" name="linkedIn" value="<%=Det.linkedIn%>"></label>
                </div>
                <div class="form-group">
                    <label>GitHub Profile Link:<input class="form-control" type="text" name="github" value="<%=Det.github%>"></label>
                </div>
                <div style="align-self: center;" class="form-group">
                    <input  class="btn btn-success btn-lg btn-block" type="submit">
                </div>
                <hr>
            </form>
            </div>
        </div>
    </div>
</div>
<br>
<%- include("partials/footer") %>
