<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <h1 style="text-align:center; color: azure;">Enter A New Task</h1>
    <div class="container" >
        <div class="row">
            <div style="width: 75%; margin: 25px auto;">
            <form action="/edit/task/<%=t._id%>?_method=patch" method="POST">
                <hr>
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Title" required value="<%=t.title%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL" value="<%=t.image%>">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="content" placeholder="Content Goes Here..." value="<%=t.content%>"></textarea>
                </div>
                <div style="align-self: center;" class="form-group">
                    <input  class="btn btn-success btn-lg btn-block" type="submit">
                </div>
                <hr>
            </form>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>
