<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <br>
  <div  class="container">
            <% e.reverse().forEach(function(ev){ %>
                <div class="row" >
                    <div class="col-sm-4">
                        <img src="<%=ev.image%>" width="300px">
                    </div>
                    <div class="col-sm-8">
                        <h2><a href="/show/event/<%=ev._id%>"><%=ev.title%></a></h2>
                        <p><%=ev.coords%></p>
                        <p><%= ev.fee%></p>
                        <p><%=ev.edate%></p>
                        <p><%=ev.contact%></p>
                        <p><%=ev.price%></p>
                    </div>
                </div>
            <%  }) %>
          </div>
          <br>
          <br>
          <br>
          <a href="/new/event">New Event</a>
</div>
<%- include("partials/footer") %>
