<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <br>
  <div  class="container">
            <% e.reverse().forEach(function(ev){ %>
                <div class="row"  style="border: azure 2px solid; padding: 10px;">
                    <div class="col-sm-4">
                        <img id="shev" src="<%=ev.image%>" width="75%">
                    </div>
                    <div class="col-sm-8">
                        <h2><a href="/show/event/<%=ev._id%>"><%=ev.title%></a></h2>
                        <div class="row">
                            <div class="col-sm-2" >
                                <p>Coordinator(s) </p>
                                <p>Entry Fee      </p>
                                <p>Event Date     </p>
                                <p>Contact        </p>
                                <p>Price Money    </p>
                            </div>
                            <div class="col" >
                                <p>: <%=ev.coords%></p>
                                <p>: <%= ev.fee%></p>
                                <p>: <%=ev.edate%></p>
                                <p>: <%=ev.contact%></p>
                                <p>: <%=ev.price%></p>
                            </div>
                        </div>
                    </div>
                </div>
            <%  }) %>
            <br>
            <br>
            <a class="btn btn-outline-primary" href="/new/event">New Event</a>
          </div>
          <br>
          <br>
          <br>
          
</div>
<%- include("partials/footer") %>
