<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <div class="container">
        <div class="col">
            <br>
            <p> <%=t.title%> Task Completed By:</p>
            <ul>
                <%t.compT.forEach(function(name){%>
                    <li><%=name.username %> <%=name._id%>
                    <form action="/edit/list/<%=t._id%>/<%=name._id%>" method="POST">
                        <button type="submit">Remove!</button>
                    </form>
                    </li>
                <%})%>
            </ul>
        </div>
    </div>
</div>


<%- include("partials/footer") %>