<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <div class="container">
        
            <h3> <%=t.title%> Task Completed By:</h3><br>
            <ol >
                <div class="row">
                <%t.compT.forEach(function(name){%>
                    <div class="col-sm-3">
                    <li><%=name.username %>
                    <form action="/edit/list/<%=t._id%>/<%=name._id%>" method="POST">
                        <button class="btn btn-outline-danger" type="submit">Remove!</button>
                    </form>
                    </li>
                    </div>
                <%})%>
            </div>
            </ol>
    </div>
</div>


<%- include("partials/footer") %>