<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <h1 style="text-align:center; color: azure;">Profile</h1>
    <div class="container" >
        <div class="row">
            <div>
                <p>Name            : <%=use.username%></p>
                <p>Registration No.: <%=Det.RegNo%></p>
                <p>Date Of Birth   : <%=Det.DOB.toDateString()%></p>
                <p>Position        : <%=Det.post%></p>
                <p>Email           : <%=Det.email%></p>
                <p>Contact No.     : <%=Det.contact%></p>
                <p>Instagram       : <a href="<%=Det.insta%>"><%=Det.insta%></a></p>
                <p>GitHub          : <a href="<%=Det.github%>"><%=Det.github%></a></p>
                <p>Linked In       : <a href="<%=Det.linkedIn%>"><%=Det.linkedIn%></a></p>
                <a class="btn btn-outline-primary" href="/profile/edit/<%=Det._id%>">Edit Profile</a>
            </div>
        </div>
        <br>
        <a class="btn btn-outline-info" href="/profile/all">View Siam Core</a>
    </div>
</div>
<br><br>
<%- include("partials/footer") %>
