<%- include("partials/header") %>
<div style="position: relative;top:50px;" >
    <div class="container" >
        <div class="row">
        <div class="col-md-6" >
            <img  class="timg" class="image-responsive" src="<%=showt.image%> " >
            <div class="well">
                <h4>Description:</h4>
                <pre><p>
                    <%=showt.content%>
                </p></pre>
            </div>
            <hr>
            <a class="btn btn-primary" href="/edit/task/<%=showt.id%>">Edit Task</a>
        </div>
        <div class="col-md-6">
            
                <h4><%=showt.title %></h4>
                <h4 >Author:<%=showt.author.username%></h4>
                <h4>Designation:<%=showt.post%></h4>
                <h6>Created:<%=showt.created.toDateString()%></h6>
            <hr>
            <p> Acknowledge When Completed the Task!</p>
            <form action="/completed/<%=showt._id%>" method="POST">
                <button class="btn btn-outline-success" type="submit">Completed!</button>
            </form>
            <br>
            
            <a href="/edit/list/<%=showt._id%>">View List who have comleted the Task</a>
        </div>
        </div>
    </div>
    
    <br>
    <br>
    <br>
</div>
<%- include("partials/footer") %>