<%- include("partials/header") %>
<div style="position: relative;top:50px;">
  <div  class="container">
      
        
          <div class="row text-center" >
            <% task.reverse().forEach(function(t){ %>
            <div class="col-6 col-sm-4" >
              <div class="thumbnail"  >
                <p>
                    Title:<%= t.title %><br>
                    Author:<%= t.author.username%><br>
                    Created:<%= t.created.toDateString() %><br>
                    <a style="color:azure" href="/tasks/<%=t._id%>">MORE</a>
                </p>
              </div>
            </div>
            <%  }) %>
          </div>

          <div style="max-width: 360px; margin: 25px auto;">
            <form action="/search" method="POST">
              <p>Search For a Particular Task:</p>
              <input class="form-control" name="search" type="search" placeholder="Search via title"><br>
              <input class="btn btn-danger btn-block"  type="submit">
              <hr>
              <br>
            </form>
          </div>
          <br>
          <br>
          <br>
  </div>
</div>
<%- include("partials/footer") %>
